@import url("prism.css");

html {
	min-height: 100%
}

/* Sidebar */
/* ############################################################################################### */
.sidebar {
	position:fixed;
	margin: 10px auto;
	padding-top: 10px;
	padding-left: 0px;
	border: 10px;
	background-color: #39a4c6;
	border: 3px solid black;
	float: left;
	width:10%;
	top: 60px;
	height: 100%
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
	color: #ffffff;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
	color: white;
	white-space: nowrap;
	width: 100%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
	color: #ffffff;
	text-overflow: ellipsis;
	width: 100%; 
	white-space: nowrap;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: black;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


body {
	min-height: 100%;
	background: #a4c639;
	background-image: -webkit-linear-gradient(-90deg, rgba(218,242,171,0.75) 0, rgba(164,198,57,0.8) 100%), url("/static/img/bck.png"); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(180deg, rgba(218,242,171,0.75) 0, rgba(164,198,57,0.8) 100%), url("/static/img/bck.png");
	background-image: -ms-linear-gradient(180deg, rgba(218,242,171,0.75) 0, rgba(164,198,57,0.8) 100%), url("/static/img/bck.png"); /* IE10 */
	background-image: -o-linear-gradient(180deg, rgba(218,242,171,0.75) 0, rgba(164,198,57,0.8) 100%), url("/static/img/bck.png"); /* Opera 11.10+ */
	background-image: linear-gradient(180deg, rgba(218,242,171,0.75) 0, rgba(164,198,57,0.8) 100%), url("/static/img/bck.png");

	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;

    padding-top: 80px;
    text-align: justify;
}



::selection {
  background: #39a4c6; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #39a4c6; /* Gecko Browsers */
  color: white;
}

.container {
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 20px 5%;

    -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.75);
}

.container.szorgalmi {
	background-color: #fffdfD;
	border: 2px solid black;
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1750px;
    }
}

div.imgstore {
    display: flex;
    align-items: center;
    justify-content: space-around;
	flex-wrap: wrap;
}


h1 small {
    margin-left: 10px;
	font-weight: bold;
}

img {
    max-width: 45%;
    max-height: 500px;
	margin: 15px;
	height: auto;
}


img.featherlight-image.featherlight-inner
{
    max-height: 80% ;
    max-width: 90% ;
    width: auto ;  
	margin-left: auto;
	margin-right: auto;
}

.featherlight .featherlight-content
{
    margin-top: 50px ;
    overflow:auto ;
}



.possible-error {
    /*border: 1px solid #aaaaaa;*/
    border: 2px solid #c65b39;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}

.misc-info {
    border: 1px solid #aaaaaa;
    /*font-style: italic;*/
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}

code {
    box-sizing: border-box;
    white-space: pre-wrap;
}


span.todo {
    font-style: italic;
}
span.todo:before { content: "["; }
span.todo:after { content: "]"; }

section {
    padding-top: 55px; /* navbar-height --> appears below when navigated to */
}

h2.szorgalmi {
	border-bottom: 1px;
	padding-top: 40px;
}

h2.szorgalmi:after {
    content:' ';
    display:block;
    border:1px solid #DDE0D3;
	margin-bottom: 10px;
}

h1 {
	font-weight: bold;
	letter-spacing: 3px;
    text-align: left;
	color: black;
	
}

h2 {
	padding-top: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	color: black;
}

h3 {
	padding-top: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #303030;
}

h4 {
	padding-top: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #404040;
}

.task {
	color: #738c28;
}

li {
    margin-bottom: 10px;
}

/* Button */
/* ############################################################################################### */
button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px;
  background: #39a4c6;
}

button:hover {
  background: #2e839e;
}

/* Comparison table, eg. component vs. sensor */
/* ############################################################################################### */
table.comparison {
}

table.comparison th,
table.comparison td {
    text-align: center;
}

/* Fix jQuery-UI Dialog link */
/* ############################################################################################### */
.ui-widget-content a {
    /*color: #222222;*/ /* jQuery-UI style */
    color: #428bca;     /* Bootstrap-style */
}


/* FAQ page */
/* ############################################################################################### */
.gyik-outer {
    /*background-color: #738c28;*/
    margin-bottom: 100px;
}

.gyik-outer > img {
    float: right;

    margin-bottom: 0;
    margin-right: 0;
    width: 150px;
}

.gyik-outer > h3 {
    float: left;
}

.gyik-inner {
    border: 5px solid #a4c639;
    border-radius: 10px;
    background-color: #b6d161;
}

.gyik-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;
}

.card {
    width: 33%;
    padding: 10px;
}

.card.hascode {
    width: auto;
}

.card img {
    width: 100%;
    max-width: 100%;
    margin: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 20px;

    border: 5px solid white;
}

.card img:not([src]) {
    display: none;
}

.card .index {
	width: 40px;
	padding: 5px 5px 2px 5px;
	color: white;
    background-color: #39a4c6;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.card .caption {
    margin-top: 2px;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card img:not([src]) + .caption {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
}

.gyik .description {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.gyik .description:empty {
    display: none;
}

.gyik .description pre:last-child {
    /* To remove unnecessary empty space */
    margin: 0;
}

#gyik-template {
    display: none;
}

/* Interactive stuff */
/* ############################################################################################### */
.interactive {
    width: 100%;
    border: 2px solid #A4C739;
    padding: 5px;
}

#panels-container .interactive-panel {
    float: left;
    width: 50%;
}

.interactive-panel .ih {
    font-weight: bold;
    border: 1px solid #A4C739;
    display: inline-block;
}

.interactive-panel .ih.selected,
.interactive .description {
    -webkit-box-shadow: 0 0 20px 5px rgba(163, 199, 57, 1);
    -moz-box-shadow: 0 0 20px 5px rgba(163, 199, 57, 1);
    box-shadow: 0 0 20px 5px rgba(163, 199, 57, 1);
    padding: 3px;
}

.interactive .description {
    /* mostly from bootstrap's 'pre' rule */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom:10px;
    min-height:100px;
}

.interactive .description p {
    display: none;
}

.interactive .description p.selected {
    display: block;
}

/* NAVBAR */
.navbar-default {
padding-top: 10px;
  background-color: #39a4c6;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #fbfcfc;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #fbfcfc;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfcfc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfcfc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfcfc;
}
.navbar-default .navbar-link {
  color: #fbfcfc;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfcfc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}

