body {
    background-color: #f3f3f3;
    padding-top: 80px;
    text-align: justify;
}
.container {
    margin: 10px auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #aaa;
    padding: 20px 5%;

    -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.75);
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1750px;
    }
}

div.imgstore {
    display: flex;
    align-items: center;
    justify-content: space-around;
	flex-wrap: wrap;
}


h1 small {
    margin-left: 10px;
	font-weight: bold;
}

img {
    max-width: 45%;
	margin: 15px;
	height: auto;
}


img.featherlight-image.featherlight-inner
{
    max-height: 80% ;
    max-width: 90% ;
    width: auto ;  
	margin-left: auto;
	margin-right: auto;
}

.featherlight .featherlight-content
{
    margin-top: 50px ;
    overflow:auto ;
}



.possible-error {
    /*border: 1px solid #aaaaaa;*/
    border: 1px solid red;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}

.misc-info {
    border: 1px solid #aaaaaa;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}

code {
    box-sizing: border-box;
    padding: 2px 5px;
    white-space: pre-wrap;

    background-color: #eee;
    color: black;
}

span.todo {
    font-style: italic;
}
span.todo:before { content: "["; }
span.todo:after { content: "]"; }


h1 {
	font-weight: bold;
	letter-spacing: 3px;
        text-align: left;
}

h2 {
	padding-top: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}

h3 {
	padding-top: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}

h4 {
	padding-top: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

h3.task {
	color: #738c28;
}

h4.task {
	color: #738c28;
}

/* Comparison table, eg. component vs. sensor */
/* ############################################################################################### */
table.comparison {
}

table.comparison th,
table.comparison td {
    text-align: center;
}

table.comparison td:nth-child(5) {
    text-align: right;
}

table.comparison td:nth-child(7) {
    text-align: left;
}

/* Fix jQuery-UI Dialog link */
/* ############################################################################################### */
.ui-widget-content a {
    /*color: #222222;*/ /* jQuery-UI style */
    color: #428bca;     /* Bootstrap-style */
}


/* FAQ page */
/* ############################################################################################### */
.gyik-outer {
    /*background-color: #738c28;*/
    margin-bottom: 100px;
}

.gyik-outer > img {
    float: right;

    margin-bottom: 0;
    margin-right: 0;
    width: 150px;
}

.gyik-outer > h3 {
    float: left;
}

.gyik-inner {
    /*border: 1px solid #99cc00;*/
    border: 1px solid #a4c639;
    border-radius: 10px;

    /*background-color: #99cc00;*/
    background-color: #a4c639;
}

.gyik-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;
}

.card {
    width: 33%;
    padding: 10px;
}

.card.hascode {
    width: auto;
}

.card img {
    width: 100%;
    max-width: 100%;
    margin: 0;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border: 5px solid white;
}

.card img:not([src]) {
    display: none;
}

.card .caption {
    margin-top: 2px;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card img:not([src]) + .caption {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.description:empty {
    display: none;
}

#gyik-template {
    display: none;
}
