body {
    background-color: #f3f3f3;
    padding-top: 80px;
}
.container {
    width: 80%;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #aaa;

    -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.75);
}

div.imgstore {
    display: flex;
    align-items: center;
    justify-content: space-around;
	flex-wrap: wrap;
}


h1 small {
    margin-left: 10px;
}

img {
    max-width: 45%;
	margin: 10px;
    width: auto;
    height: auto;
}



code {
    box-sizing: border-box;
    padding: 2px 5px;
    white-space: pre-wrap;

    background-color: #eee;
    color: black;
}

span.todo {
    font-style: italic;
}
span.todo:before { content: "["; }
span.todo:after { content: "]"; }
